.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 110px;
  padding-left: 90px;
  padding-right: 90px;
}

.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
